*{
    padding: 0px;
    margin: 0px;
    border: none;
}
.redesign{
    width: 1920px;
    height: 5958px;
    position: relative;
    background-color: rebeccapurple;
}
.header{
    width: 1810px;
    height: 47px;
    top: 37px;
    left: 55px;
    background-color: white;
    position: absolute;
}